body{
    background-color: whitesmoke;
    
}

.sidebar{
    background-color: red;
    padding: 10px;
    
}

ul{
    padding: 0;
    
}

ul li{
    list-style-type: none;
    display: inline;
    margin: 12px;
    text-transform: uppercase;
    
}

.sidebar-elems{
      float: right;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

a{
    text-decoration: none;
}


li a{
    color: yellow;
}

h1{
    text-align: center;
}

ul li a:hover{
    font-size: 17px;
    transition: 0,7s;
}